{{ define "main" }}
  <div class="container">
    {{ partial "layout/heading.html" . }}

    <div class="content is-medium">
      {{ range .Data.tag }}
        <p>
          {{ if and (isset .Params "post") .Params.post }}
            <span class="icon cil-newspaper"></span>
          {{ end }}

          <a href="{{ .Permalink }}">{{ .Name }}</a> -
          {{ range .Params.tags }}
            <a href="/tags/{{ . }}" class="tag is-primary is-light">{{ . }}</a>
          {{ end }}
        </p>

        {{ if and (isset .Params "post") .Params.post }}
          <p class="ml-3 is-size-6 is-italic">Published on {{ dateFormat .Site.Params.dateFormat .Params.date }}</p>
        {{ end }}

        {{ if isset .Params "abstract" }}
          <blockquote class="is-size-6">{{ .RenderString .Params.abstract }}</blockquote>
        {{ end }}
      {{ end }}
      </ul>
    </div>
  </div>
{{ end }}
