<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-timeline@3.0.4/dist/css/bulma-timeline.min.css">
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons/css/all.min.css" />

{{ if and (isset .Params "toc") .Params.toc }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.11.1/tocbot.css" />
{{ end }}

<style type="text/css">
html {
  scroll-behavior: smooth;
}
.sticky	{
	position: sticky;
  top: 3.5em;
  left: 0;
  right: 0;
  z-index: 30;
}

img.figure {
  display: block;
  margin: auto;
}

.is-full-height {
  height: 100%;
}

.has-text-white::placeholder {
  color: white;
  opacity: 0.5;
}

</style>