{{ if and (isset .Params "comments") .Params.comments }}
  <script type="application/javascript">talkyardServerUrl = '{{ .Site.Params.talkyardServerUrl }}';</script>
  <script type="application/javascript" async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>

  <div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
    <noscript>Please enable Javascript to view comments.</noscript>
    <p style="margin-top: 25px; opacity: 0.9; font-size: 96%">
      Comments powered by
      <a href="https://www.talkyard.io">Talkyard</a>.
    </p>
  </div>
{{ end }}