<div class="panel is-flex is-flex-direction-column" {{ if .fullheight }}style="height: 100%;"{{ end }}>
  <div class="panel-heading">
    <p class="has-text-centered">{{ .context.Title }}</p>
  </div>
  <div class="panel-block" style="flex: auto;">
    <div class="container">
      <div class="content mt-3 mb-3 has-text-centered">
        {{ .context.RenderString .context.Params.abstract }}
      </div>
    </div>
  </div>
  <div class="panel-block card-footer">
    <a href="{{ .context.RelPermalink }}" class="card-footer-item">
      <span class="icon cil-book"></span>
      Read
    </a>
    <a target="_blank" href="{{ .context.RelPermalink }}?print=1" class="card-footer-item">
      <span class="icon cil-print"></span>
      Print
    </a>
  </div>
</div>
