<div class="panel">
  <div class="panel-heading">
    <p class="has-text-centered">{{ .Title }}</p>
  </div>
  <div class="panel-block" style="margin: auto;">
    <div class="content mt-3 mb-3 has-text-centered" style="margin: auto;">
      {{ .RenderString .Params.abstract }}
    </div>
  </div>
  <div class="panel-block card-footer" style="margin-top: auto;">
    <a href="{{ .Permalink }}" class="card-footer-item">
      <span class="icon cil-book"></span>
      Read
    </a>
    <a target="_blank" href="{{ .Permalink }}?print=1" class="card-footer-item">
      <span class="icon cil-print"></span>
      Print
    </a>
  </div>
</div>
